<div class="index">
  <app-menu></app-menu>
</div>
<div class="content-all">
  <div class="content-header">
    <div class="content-logo">
      <img src="https://www.w3schools.com/html/img_chania.jpg" />
    </div>
    <h1>
      <strong>Mobile-First-Desing</strong>
      <hr/>
    </h1>
    <p>
      Básicamente se refiere a un modo de diseñar que tenga en cuenta, en
      primera instancia, un dispositivo móvil. Pantallas reducidas en
      comparación a los monitores que usamos normalmente con los ordenadores, y
      tras tener la maqueta preparada, realizar un escalado, es decir, aumentar
      el tamaño y adaptarlo a una pantalla de escritorio.
    </p>
  </div>

  <div class="content-title">
    <h1><strong>Titulo</strong></h1>
    <hr />
</div>
  <div class="content-main">
    
    <div class="img-content-main" style="
    display: flex;
    align-items: center;
    justify-content: center;
">
      
      <img src="https://www.w3schools.com/css/pineapple.jpg" />
    </div>
    <div class="text-content-main">
      <p>
        Básicamente se refiere a un modo de diseñar que tenga en cuenta, en
        primera instancia, un dispositivo móvil. Pantallas reducidas en
        comparación a los monitores que usamos normalmente con los ordenadores,
        y tras tener la maqueta preparada, realizar un escalado, es decir,
        aumentar el tamaño y adaptarlo a una pantalla de escritorio.
      </p>
      <div class="documentation-content-main"></div>
    </div>
  </div>

  <p class="copy-right ">
    © 2019 Creative Profile. All Rights Reserved | Design by
    <a href="https://github.com/AEDD1970"> Alexis Duque</a>
  </p>

</div>
